.git
.github
**/node_modules
**/.next
**/dist
.env*
**/.env*
test.env*
**/test.env*
**/.reports
**/test-results
**/playwright-report
**/coverage
**/*.tsbuildinfo
docs
README.md
*.log
**/*.pem
.DS_Store
